<section>
  <div class='container'>
    <div layout="row"  layout-padding layout-wrap>
      <div flex="15">
        <div flex="column">
        <div>
        <div layout-align="left left">
          <h3>Segement/User Selector</h3>
          <div md-cols-gt-md="10" md-cols-sm="6" md-cols-md="2" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" layout-align="left left" style="height: 100px;">
            <md-select ng-model="selectedProduct" md-on-open="loadProducts()">
              <md-select-label>{{selectedProduct ? selectedProduct.name :'Select your product'}}</md-select-label>
              <md-option ng-value="product" ng-repeat="product in products">{{product.name}}</md-option>
            </md-select>
          </div>
        </div>
        </div>
        <div>
           <div layout-align="left">
            <h3>Choose your theme</h3>
            <div md-cols-gt-md="10" md-cols-sm="6" md-cols-md="2" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" layout-align="left left" style="height: 100px;">
              <md-select ng-model="selectedTheme" ng-change="loadThemes()">
                <md-select-label>{{selectedTheme ? selectedTheme :'Select your theme'}}</md-select-label>
                <md-option ng-value="theme" ng-repeat="theme in themes">{{theme}}</md-option>
              </md-select>
            </div>
          </div> 
        </div>
        <div>
           <div layout-align="left">
              <h3>Choose your mode</h3>
              <div md-cols-gt-md="10" md-cols-sm="6" md-cols-md="2" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" layout-align="left left" style="height: 100px;">
                <md-select ng-model="selectedMode" ng-change="loadModes()">
                  <md-select-label>{{selectedMode ? selectedMode :'Select your mode'}}</md-select-label>
                  <md-option ng-value="mode" ng-repeat="mode in modes">{{mode}}</md-option>
                </md-select>
              </div>
            </div>
        </div>
        </div>
        <!-- <div id="output" class="row"></div> -->
      </div>
      <div flex="85" layout-padding ng-show="initialState">
      <div layout="row">
        <div>
        <ul class="nav nav-tabs" role="tablist">
          <li ng-repeat="i in createdTabs" ng-click="getIndex($index)" ng-class="{active: $index === currentIndex }">
            <a href="" class="" role="tab"><i class='removeView clickable fa fa-times' ng-click="removeTab($index)"></i>{{i.newTab.name}}</a></li>
        </ul>
        </div>
      </div>
        <div layout="row">
          <div flex="60"  layout-padding>
            <div>
              <div class="caption">
                <h3>Template Editor</h3>
              </div>
              <div id="template-editor" name="code">
              </div>
            </div>
          </div>
          <div flex layout-padding>
            <div layout="column">
              <div>
                <div class="caption">
                  <h3>Data Editor</h3>
                </div>
                <div id="data-editor">
                </div>
              </div>
              <div>
                <div class="caption">
                  <h3>Data Preview</h3>
                </div>
                <iframe id="preview" frameborder="0" class="preview"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>